<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rewards Program Analysis | Where is the Reward? - Maps</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

    <!-- MachineLearning CSS -->
    

    <!-- MDI -->
    <link rel="stylesheet" href="http://cdn.materialdesignicons.com/3.8.95/css/materialdesignicons.min.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbar10">
                    <ul class="navbar-nav nav-fill w-100">
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="/">Intro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="brief.html">Brief</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="data.html">Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="maps.html">Maps</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link font-weight-bold" href="machineLearning.html">Predictive Analysis</a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="dashboard.html">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

  
        
        <body lang=en-MX style='word-wrap:break-word'>
        
        <div class=WordSection1>
        
        <p class=MsoNormal><b><span lang=ES>Clustering Analysis</span></b></p>
        
        <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
        
        <p class=MsoNormal><span lang=ES>Actualmente la empresa tiene ordenados a sus
        clientes en 6 categorías, el objetivo de este análisis es determinar si es
        requerido modificarlas.</span></p>
        
        <p class=MsoNormal><span lang=ES>Para el ejercicio se utilizó el método no
        supervisado “K-Means” que busca segmentar los datos por sus características
        afines.</span></p>
        
        <p class=MsoNormal><span lang=ES><img width=468 height=244 id="Picture 2"
        src="Clustering%20Analysis.fld/image001.png"
        alt="Chart, scatter chart&#10;&#10;Description automatically generated"></span></p>
        
        <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
        
        <p class=MsoNormal><span lang=ES>Para la definición del número óptimo de clústers,
        se utiliza el método del codo (“Elbow Method”)</span></p>
        
        <p class=MsoNormal><span lang=ES><img width=469 height=244 id="Picture 3"
        src="Clustering%20Analysis.fld/image002.png"
        alt="A picture containing chart&#10;&#10;Description automatically generated"></span></p>
        
        <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
        
        <p class=MsoNormal><span lang=ES>Como premisa general, es evidente que Clientes
        con pocas ventas representan muy costosos en en puntos. El objetivo del negocio
        debe ser que mientras más ventas tengan, más puntos deberían otorgar para poder
        entonces premiar por ventas.</span></p>
        
        <p class=MsoNormal><img width=215 height=143 id="Picture 1"
        src="Clustering%20Analysis.fld/image003.png"
        alt="Chart, scatter chart, bubble chart&#10;&#10;Description automatically generated"></p>
        
        <p class=MsoNormal>&nbsp;</p>
        
        <p class=MsoNormal><b><span lang=ES>Ventas Totales vs Ventas Promedio por Mes</span></b></p>
        
        <p class=MsoNormal><span lang=ES>El primer ejercicio es definir los grupos con
        base en las ventas que ha tenido cada Cliente visto desde 2 enfoques, el total
        de ventas desde 2018 a 2020 y el importe de ventas promedio por mes ya que hay
        clientes nuevos que tienen menos meses en el programa y sería “injusto”
        compararlo con un cliente que ha sido permanente en el esquema.</span></p>
        
        <p class=MsoNormal><img width=185 height=124 id="Picture 8"
        src="Clustering%20Analysis.fld/image004.png"
        alt="Chart, line chart&#10;&#10;Description automatically generated"><span
        lang=ES>El número de óptimo de clusters con estas dos variables los marca en 3 por
        el método del codo.</span></p>
        
        <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
        
        <p class=MsoNormal><img width=153 height=102 id="Picture 14"
        src="Clustering%20Analysis.fld/image005.png"
        alt="Chart, scatter chart&#10;&#10;Description automatically generated"><img
        width=165 height=107 id="Picture 11"
        src="Clustering%20Analysis.fld/image006.png"
        alt="Chart, scatter chart&#10;&#10;Description automatically generated"><img
        width=155 height=103 id="Picture 15"
        src="Clustering%20Analysis.fld/image007.png"
        alt="Chart, scatter chart&#10;&#10;Description automatically generated"><img
        width=150 height=100 id="Picture 16"
        src="Clustering%20Analysis.fld/image008.png"
        alt="Chart, scatter chart&#10;&#10;Description automatically generated"></p>
        
        <p class=MsoNormal>&nbsp;</p>
        
        <p class=MsoNormal><span lang=ES>En conclusión, la definición de categorías
        puede simplificarse de 6 a 3. </span></p>
        
        <p class=MsoNormal><span lang=ES>Grupo 1: Clientes con Ventas Promedio mensual mayores
        a 250 mil pesos</span></p>
        
        <p class=MsoNormal><span lang=ES>Grupo 2: Clientes con Ventas Promedio mensual menores
        a 250 mil pesos y ventas acumuladas en el programa mayores a 2.5 millones</span></p>
        
        <p class=MsoNormal><span lang=ES> Grupo 3: Clientes con Ventas Promedio mensual
        menores a 250 mil pesos y ventas acumuladas en el programa menores a 2.5
        millones</span></p>
        
        <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
        
        <p class=MsoNormal><span lang=ES>Para confirmar este ejercicio, se hizo adicional
        un análisis “Dendograma” que nos ayuda a confirmar el número de grupos de
        clientes en 3:</span></p>
        
        <p class=MsoNormal><span lang=ES><img width=277 height=185 id="Picture 17"
        src="Clustering%20Analysis.fld/image009.png"
        alt="Chart&#10;&#10;Description automatically generated"></span></p>
        
        <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
        
        <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
        
        <p class=MsoNormal><b><span lang=ES>Análisis de Distribuidores y Clientes</span></b></p>
        
        <p class=MsoNormal><span lang=ES>Actualmente hay 15 distribuidores y se hizo un
        segundo análisis para determinar si es relevante modificar el distribuidor de
        cada uno, en este caso el número optimo de grupos nuevamente se ubica en 3.</span></p>
        
        <p class=MsoNormal><span lang=ES><img width=175 height=116 id="Picture 18"
        src="Clustering%20Analysis.fld/image010.png"
        alt="Chart, line chart&#10;&#10;Description automatically generated"></span></p>
        
        <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
        
        <p class=MsoNormal><span lang=ES>Grupos Distribuidor vs Promedio de Ventas
        Mensuales y Total de Ventas</span></p>
        
        <p class=MsoNormal><span lang=ES><img width=146 height=97 id="Picture 23"
        src="Clustering%20Analysis.fld/image011.png"
        alt="Chart, scatter chart&#10;&#10;Description automatically generated"><img
        width=138 height=92 id="Picture 24" src="Clustering%20Analysis.fld/image012.png"
        alt="Chart, scatter chart&#10;&#10;Description automatically generated"><img
        width=138 height=92 id="Picture 25" src="Clustering%20Analysis.fld/image013.png"
        alt="Chart, scatter chart, bubble chart&#10;&#10;Description automatically generated"><img
        width=178 height=118 id="Picture 26"
        src="Clustering%20Analysis.fld/image014.png"
        alt="Chart, scatter chart, bubble chart&#10;&#10;Description automatically generated"></span></p>
        
        <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
        
        <p class=MsoNormal><span lang=ES>En este caso, la conclusión es que no hay una
        distribución evidente de grupo de clientes por distribuidor, por lo que se podrían
        reorganizar los clientes.</span></p>
        
        </div>
        
        </body>
        
     
        
    
    <script>
        $(document).ready(function () {
            $('.navbar-nav .nav-item').click(function () {
                $('.navbar-nav .nav-item').removeClass('active');
                $(this).addClass('active');
            })
        });
    </script>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    
    
    
</body>

</html>
